

@font-face {
  font-family: "Flutterwave";
  src: url("https://res.cloudinary.com/dinhhkvvj/raw/upload/v1592615058/fonts/FLW-Regular_tq1gjf.ttf")
    format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
//Fonts

$fontFlutter: "Flutterwave";
$fontSfp: "Open Sans", "sans-serif";
$fontBig: "36";
$fontSmall: "12";
$fontNormal: "14px";

//colors
$primary: #f5a623;
$secondary: #ffffff;
$textDark: #333333;
$textFooter: #4a4a4a;
$textGrey: #4f4f4f;
$textDarkGrey: #12122c;
$textFree: #219653;
$background:#f2f2f2;

//svg
$checkColor: #f5a623;
$checkMark: #f5a623;
$curve: cubic-bezier(0.65, 0, 0.45, 1);

